// 颜色定义规范
$color-background = #f2f2f2
$color-header-bg = #ffc400
$color-nav-bg-active = #ff8f00
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-font = #555555
$color-theme = #ffffff
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text-yellow = #ffae00
$color-text-white = #ffffff
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
$font-size-large-xx = 24px